<section id="login">
  <div class="left side-spacing content">
    <a href="/bars" class="btn btn-green" style="margin-top: 48px;">Retourner sur la page d'accueil</a>
    
    <form action="/login" method="POST">

      <label for="input-name"></label>
      <input type="text" id="input-name" name="email" placeholder="Pseudo" />


      <label for="input-email"></label>
      <input type="email" id="input-email" name="email" placeholder="Email" />

      <label for="input-password"></label>
      <input type="password" name="password" id="input-password" placeholder="********" />

      <div class="buttons-signup">
        <button type="submit" class="btn btn-green-light">Login</button>
        <p>OR</p>
        <a href="/signup" class="btn btn-green">Sign up</a>
      </div>

      {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
      {{/if}}

    </form>
    
  </div>
  <div class="right">
    <img src="https://images.unsplash.com/photo-1468056961052-15507578a50d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" alt="">
  </div>
</section>
