<section id="signup" class="side-spacing content">
  <div class="left">

    <p><a href="/">Homepage</a></p>

  </div>
  <div class="right">
      <form action="/signup" method="POST">
          <label for="username">
              {{!-- Username --}}
              <input type="text" name="username" placeholder="Pseudo">
          </label>

          <label for="email">
              {{!-- Email --}}
              <input type="email" name="email" placeholder="Email">
          </label>

          <label for="password">
              {{!-- Password --}}
              <input type="password" name="password" placeholder="Mot de passe">
          </label>

          <div class="buttons-login">
            <button type="submit" class="btn btn-green-light">Sign in</button>
            <p>OR</p>
            <a href="/login" class="btn btn-green">Log in</a>
          </div>
      {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
      {{/if}}
  </div>
</section>