
#bar-index {
  display: flex;
  flex-direction: column;
  
  h2 {
    margin: 24px auto !important;
    width: 1024px;
    text-align: center;
  }
  
  .intro {
    margin: 24px auto !important;
    width: 1024px;
    text-align: center;
    background-color: #cdfef3;
    border-radius: 10px;
    padding: 32px;
    position: relative;
    opacity: 0.7;
  
    svg {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  
  .bars {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
    justify-content: space-between;

    
    .bar {
      width: 320px;
      margin-bottom: 48px;
      border-radius: 10px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: all .2s ease-in-out;

      a {
        text-decoration: none;
        
        .bg {
          background-position: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          width: 320px;
        }
        
        .infos {
          padding: 24px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          
          .price {
            position: absolute;
            top: -39px;
            right: 0;
            background-color: white;
            border-top-left-radius: 5px;
            display: flex;
  
            h5 {
              margin: 8px;
              font-weight: 600;
            }
  
            .vote {
              display: flex;
              margin-left: 16px;
  
              div {
                display: flex;
                width: fit-content;
                align-items: center;
                justify-content: space-between;
  
                p {
                  margin: 8px;
                }
  
                img {
                  width: 16px;
                  height: 16px;
                }
              }
            }
          }
        }
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  form {
    margin: 0 auto 40px auto;
    display: flex;
    align-items: center;

    input {
      height: 40px;
      width: 400px;
      margin-right: 48px;
      border: solid 1px gainsboro;
      border-radius: 4px;
    }
  }
}