#bar-index {
  display: flex;
  flex-direction: column;
  
  h2 {
    margin: 24px auto !important;
    width: 1024px;
    text-align: center;
  }
  
  .intro {
    margin: 24px auto !important;
    width: 1024px;
    text-align: center;
    background-color: #cdfef3;
    border-radius: 10px;
    padding: 32px;
    position: relative;
    opacity: 0.7;
  
    svg {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
  
  .bars {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    margin: 0 auto;
    justify-content: space-between;

    
    .bar {
      width: 320px;
      margin-bottom: 48px;
      border-radius: 10px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: all .2s ease-in-out;

      a {
        text-decoration: none;
        
        .bg {
          background-position: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          width: 320px;
        }
      }
      
      .infos {
        padding: 24px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .price {
          position: absolute;
          top: -39px;
          right: 0;
          background-color: white;
          border-top-left-radius: 5px;
          display: flex;

          h5 {
            margin: 8px;
            font-weight: 600;
          }

          .vote {
            display: flex;
            margin-left: 16px;

            div {
              display: flex;
              width: fit-content;
              align-items: center;
              justify-content: space-between;

              p {
                margin: 8px;
              }

              img {
                width: 16px;
                height: 16px;
              }
            }
          }
        }
      }

      &:hover {
        transform: scale(1.02);
      }
    }
  }

  form {
    margin: 0 auto 40px auto;
    display: flex;
    align-items: center;

    input {
      height: 40px;
      width: 400px;
      margin-right: 48px;
      border: solid 1px gainsboro;
      border-radius: 4px;
    }
  }
}

#add-bar, #edit-bar {
  width: 400px;
  margin: 32px auto 0 auto;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  padding: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #161032;
  color: white;

  h2 {
    border-bottom: solid 2px white;
    padding-bottom: 32px;
  }

  h3 {
    font-weight: 600;
    span {
      background-color: #cdfef3;
      color: #161032;
    }
  }

  h6 {
    margin-bottom: 16px;
    margin-top: 8px;
  }

  form, label, input {
    width: 300px;
  }

  input {
    height: 40px;
    margin-bottom: 16px;
    

    &:focus {
      outline: none;
    }
  }

  button {
    display: block;
    width: 100%;
  }

  .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #161032;
    background-color: #cdfef3;
    display: inline-block;
    padding: 24px 0;
    text-align: center;
    margin-bottom: 24px;
  }

  .inputfile:focus + label,
  .inputfile + label:hover {
      background-color: #161032;
      color: white
  }

  .inputfile + label {
    cursor: pointer; /* "hand" cursor */
  }

  .inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }
}