.btn-green {
  background-color: #34fbcb !important;
  border-color: #34fbcb !important;
<<<<<<< HEAD

  &:hover {
    background-color: #cdfef3 !important;
=======
  outline: none;

  &:hover {
    background-color: #cdfef3 !important;
    outline: none;
>>>>>>> 02bd2f65a027ba2feec679498da907dff5ca081f
  }
}

.btn-green-light {
  background-color: #cdfef3 !important;
  border-color: #cdfef3 !important;
<<<<<<< HEAD

  &:hover {
    background-color: #34fbcb !important;
=======
  outline: none;

  &:hover {
    background-color: #34fbcb !important;
    outline: none;
>>>>>>> 02bd2f65a027ba2feec679498da907dff5ca081f
  }
}

.buttons-signup, .buttons-login {
  display: flex;
  justify-content: center;

  p {
    margin: 8px;
  }
}