#login {
  display: flex;

  .left {
    width: 30vw;
    height: auto;

    form {
      margin: 100px auto 0 auto;
      padding: 32px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
      border-radius: 10px;

      label, input {
        display: flex;
        justify-content: center;
        margin: 16px auto;

      }

      button {
        display: flex;
        justify-content: center;
      }

      input {
        height: 32px;
      }
    }
    
    p.a{
      text-decoration: none;
      padding-left: 20px;
      padding-top: 50px;
    }
    a{
      color: #060606;
    }
  }

  .right {

    img {
      height: 100vh;
    }
  }
}