.btn-green {
  background-color: #34fbcb !important;
  border-color: #34fbcb !important;
  outline: none; }
  .btn-green:hover {
    background-color: #cdfef3 !important;
    outline: none; }

.btn-green-light {
  background-color: #cdfef3 !important;
  border-color: #cdfef3 !important;
  outline: none; }
  .btn-green-light:hover {
    background-color: #34fbcb !important;
    outline: none; }

.buttons-signup, .buttons-login {
  display: flex;
  justify-content: center; }
  .buttons-signup p, .buttons-login p {
    margin: 8px; }

#login {
  display: flex; }
  #login .left {
    width: 30vw;
    height: auto; }
    #login .left form {
      margin: 100px auto 0 auto;
      padding: 32px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
      border-radius: 10px; }
      #login .left form label, #login .left form input {
        display: flex;
        justify-content: center;
        margin: 16px auto; }
      #login .left form button {
        display: flex;
        justify-content: center; }
      #login .left form input {
        height: 32px; }
    #login .left p.a {
      text-decoration: none;
      padding-left: 20px;
      padding-top: 50px; }
    #login .left a {
      color: #060606; }
  #login .right img {
    height: 100vh; }

#signup {
  width: 80vw;
  height: 70vh;
  background: url("https://images.unsplash.com/photo-1525268323446-0505b6fe7778?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80");
  background-repeat: cover;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5); }
  #signup .left {
    width: 0%; }
  #signup .right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  @media (min-width: 768px) {
    #signup {
      height: 80vh;
      margin: 50px auto; }
      #signup .right, #signup .left {
        width: 50%;
        height: 100%; } }
  #signup .left a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
    padding-top: 50px; }
  #signup .right form label, #signup .right form button {
    display: flex;
    justify-content: center; }
    #signup .right form label input, #signup .right form button input {
      border: none;
      height: 32px;
      border-radius: 5px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.5); }
  #signup .right form label {
    margin: 16px auto; }
  #signup .right p {
    color: white; }

nav {
  display: flex;
  background-color: #cdfef3;
  height: 72px;
  justify-content: space-between; }
  nav ul {
    display: flex;
    margin: 0;
    align-items: center; }
    nav ul li {
      list-style: none;
      margin: 8px; }
  nav .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly; }

.sticky {
  position: sticky;
  top: -1px;
  z-index: 2;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1); }

#profile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 24px auto 0 auto; }
  #profile .profile-card {
    height: fit-content;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 48px;
    width: fit-content;
    padding: 16px; }
    #profile .profile-card img {
      width: 72px;
      height: 72px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
      margin-bottom: 32px; }
    #profile .profile-card h4 {
      font-weight: 800; }
    @media (min-width: 768px) {
      #profile .profile-card {
        margin-bottom: 0; } }
  #profile .user-bars, #profile .user-favorite-bars {
    height: 60vh;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: fit-content;
    margin-bottom: 48px; }
    #profile .user-bars .added-bars, #profile .user-favorite-bars .added-bars {
      padding: 16px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      #profile .user-bars .added-bars img, #profile .user-favorite-bars .added-bars img {
        width: 100%;
        height: 50%;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 8px;
        opacity: 0.3; }
      #profile .user-bars .added-bars .bar, #profile .user-favorite-bars .added-bars .bar {
        width: 45%;
        position: relative; }
        #profile .user-bars .added-bars .bar a, #profile .user-favorite-bars .added-bars .bar a {
          text-decoration: none; }
        #profile .user-bars .added-bars .bar p, #profile .user-favorite-bars .added-bars .bar p {
          font-size: 12px;
          text-align: center; }
        #profile .user-bars .added-bars .bar h6, #profile .user-favorite-bars .added-bars .bar h6 {
          text-align: center; }
        #profile .user-bars .added-bars .bar .price, #profile .user-favorite-bars .added-bars .bar .price {
          position: absolute;
          top: 23px;
          left: 48px;
          font-size: 24px;
          font-weight: 800; }
    #profile .user-bars .title, #profile .user-favorite-bars .title {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      #profile .user-bars .title h4, #profile .user-favorite-bars .title h4 {
        margin: 24px auto;
        font-weight: 800;
        width: fit-content; }
    @media (min-width: 768px) {
      #profile .user-bars, #profile .user-favorite-bars {
        margin-bottom: 0; } }
  @media (min-width: 768px) {
    #profile {
      flex-direction: row; } }

#unregistered {
  width: 80vw;
  height: 70vh;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  background-color: #292c2d; }
  #unregistered p {
    font-weight: 800;
    padding: 32px;
    font-size: 28px;
    text-align: center;
    color: white; }
  #unregistered .links {
    padding: 32px;
    display: flex;
    justify-content: space-between; }
  @media (min-width: 768px) {
    #unregistered {
      width: 40vw;
      height: 40vh; }
      #unregistered .links {
        justify-content: space-around; } }

.logo {
  border-radius: 50%;
  width: 48px;
  height: 48px; }

.avatar {
  border-radius: 50%; }

#bar-index {
  display: flex;
  flex-direction: column; }
  #bar-index h2 {
    margin: 24px auto !important;
    width: 1024px;
    text-align: center; }
  #bar-index .intro {
    margin: 24px auto !important;
    width: 1024px;
    text-align: center;
    background-color: #cdfef3;
    border-radius: 10px;
    padding: 32px;
    position: relative;
    opacity: 0.7; }
    #bar-index .intro svg {
      position: absolute;
      top: 10px;
      right: 10px; }
  #bar-index .bars {
    display: flex;
    flex-wrap: wrap;
    width: 1024px;
    margin: 0 auto;
    justify-content: space-between; }
    #bar-index .bars .bar {
      width: 320px;
      margin-bottom: 48px;
      border-radius: 10px;
      box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: all .2s ease-in-out; }
      #bar-index .bars .bar a {
        text-decoration: none; }
        #bar-index .bars .bar a .bg {
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          width: 320px;
          height: 213.25px; }
      #bar-index .bars .bar .infos {
        padding: 24px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        #bar-index .bars .bar .infos .price {
          position: absolute;
          top: -39px;
          right: 0;
          background-color: white;
          border-top-left-radius: 5px;
          display: flex; }
          #bar-index .bars .bar .infos .price h5 {
            margin: 8px;
            font-weight: 600; }
          #bar-index .bars .bar .infos .price .vote {
            display: flex;
            margin-left: 16px; }
            #bar-index .bars .bar .infos .price .vote div {
              display: flex;
              width: fit-content;
              align-items: center;
              justify-content: space-between; }
              #bar-index .bars .bar .infos .price .vote div p {
                margin: 8px; }
              #bar-index .bars .bar .infos .price .vote div img {
                width: 16px;
                height: 16px; }
      #bar-index .bars .bar:hover {
        transform: scale(1.02); }
  #bar-index form {
    margin: 0 auto 40px auto;
    display: flex;
    align-items: center; }
    #bar-index form input {
      height: 40px;
      width: 400px;
      margin-right: 48px;
      border: solid 1px gainsboro;
      border-radius: 4px; }

#add-bar, #edit-bar {
  width: 400px;
  margin: 32px auto 0 auto;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.2);
  padding: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #161032;
  color: white; }
  #add-bar h2, #edit-bar h2 {
    border-bottom: solid 2px white;
    padding-bottom: 32px; }
  #add-bar h3, #edit-bar h3 {
    font-weight: 600; }
    #add-bar h3 span, #edit-bar h3 span {
      background-color: #cdfef3;
      color: #161032; }
  #add-bar h6, #edit-bar h6 {
    margin-bottom: 16px;
    margin-top: 8px; }
  #add-bar form, #add-bar label, #add-bar input, #edit-bar form, #edit-bar label, #edit-bar input {
    width: 300px; }
  #add-bar input, #edit-bar input {
    height: 40px;
    margin-bottom: 16px; }
    #add-bar input:focus, #edit-bar input:focus {
      outline: none; }
  #add-bar button, #edit-bar button {
    display: block;
    width: 100%; }
  #add-bar .inputfile, #edit-bar .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
  #add-bar .inputfile + label, #edit-bar .inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #161032;
    background-color: #cdfef3;
    display: inline-block;
    padding: 24px 0;
    text-align: center;
    margin-bottom: 24px; }
  #add-bar .inputfile:focus + label,
  #add-bar .inputfile + label:hover, #edit-bar .inputfile:focus + label,
  #edit-bar .inputfile + label:hover {
    background-color: #161032;
    color: white; }
  #add-bar .inputfile + label, #edit-bar .inputfile + label {
    cursor: pointer;
    /* "hand" cursor */ }
  #add-bar .inputfile:focus + label, #edit-bar .inputfile:focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px; }

#bar-details {
  display: flex;
  justify-content: space-around;
  width: 1024px;
  margin: 32px auto; }
  #bar-details .bar-info {
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    width: 320px; }
  #bar-details .bar-buttons {
    margin-top: 8px;
    display: flex;
    justify-content: space-between; }
  #bar-details img {
    height: 30vh;
    width: 320px;
    margin-bottom: 32px;
    border-radius: 10px; }
  #bar-details h5 {
    font-size: 2.25rem;
    display: inline; }
  #bar-details #min-cb {
    font-size: 0.5rem; }

#map {
  height: 80vh;
  flex-basis: 60%; }

body {
  font: 14px 'Raleway', Helvetica, Arial, sans-serif !important; }

a {
  color: black !important; }

.side-spacing {
  margin: 0 auto; }
  @media (min-width: 768px) {
    .side-spacing {
      margin: 0 50px; } }

/*# sourceMappingURL=style.css.map */