<h2>Bars</h2>

<a href="/bars/new">Add a bar</a>

<section id="bar-index">
  <div class="bars">
    {{#each bars}}
      <div class="bar">
        <h3>{{name}}</h3>
        <a href="/bars/{{id}}">See more</a>
      </div>
    {{/each}}
  </div>
</section>