<h2>New Bar</h2>
<form action="/bars/new" method="POST">
  <label>
    name:
    <input type="text" name="name" />
  </label>
  

  <label>
    address:
    <input type="text" name="address" />
  </label>

  <label>
    Minimum Cb:
    <input type="number" name="minimumCb" />
  </label>

  <button>Create</button>
</form>

{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}