<h2>bar details page</h2>

<h3>{{bar.name}}</h3>
<form action="/bars/{{bar.id}}/delete" method="POST"><button>supprimer</button>
<a href="/bars/{{bar.id}}/edit">Edit</a>

<a href="/bars">Back to bars list</a>